/deployment
/gestion-pedidos/node_modules
/gestion-reservas/node_modules
/ms_clientes/node_modules
/grafico-service/node_modules
frontend\node_modules
Arquitectura del Sistema de Reservas para Restaurantes.docx